*Ignore node_modules
**/server/node_modules/
**/client/node_modules/

*Ignmore npm-debug.log
npm-debug.log
server/npm-debug.log

*Ignore .DS_Store files
.DS_Store
server/.DS_Store

*Ignore js files in client/app dir
client/app/**/*.js

*Ignore .map files
*.js.map
