<h2>All products</h2>
<ul>
  <table>
    <tr>
      <th>Category</th>
      <th>Group</th>
      <th>Name</th>
      <th>Price</th>
      <th>Origin</th>
      <th>Delete</th>
    </tr>
  </table>
    <tr *ngFor="let product of products"
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)">
      <td>{{product.category}}</td>
      <td>{{product.group}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.origin}}</td>
      <td><button (click)="delete(product); $event.stopPropagation()">Delete</button></td>
    </tr>
</ul>

<div class="" *ngIf="selectedProduct">
  Selected product: <span><b>{{selectedProduct.name}}</b> (price: {{selectedProduct.price | currency}})</span>
  <button type="button" name="viewDetails" (click)="goToDetail()">View details</button>
</div>
