<h2>Add new product</h2>

<div class="">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Add name" />
</div>
<div class="">
  <label for="category">Category</label>
  <input type="text" name="category" placeholder="Add a category"/>
</div>
<div class="">
  <label for="group">Product group</label>
  <input type="text" name="group" placeholder="Add a product group">
</div>
<div class="">
  <label for="price">Price</label>
  <input type="number" name="price" placeholder="Add a unit price" min="1">
</div>
<div class="">
  <label for="origin">Product origin</label>
  <input type="text" name="origin" placeholder="Add the product origin">
</div>
<p>
  <button name="back">Go back</button>
  <button name="submit">Submit</button>
</p>
